

.mid_container{
    
    width: 100%;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5vw;
}

.left {
    
    width: 50%;
    height: 70vh;
    
        }
        .left h3 {
            color: rgb(35, 35, 34);
            font-size: 2vw;
            text-transform: uppercase;
    
        }
    

        .left h1 {
            color: rgb(35, 35, 34);
            font-size: 10vh;
            font-weight: 888;
            text-transform: uppercase;
    
        }
    

        .left p {
            color: rgb(29, 3, 48);
            font-size: 2vw;
           
    
        }
    
        .right {
            
            width:50%;
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
                }
            
.right_img{
    max-width: 40vw;
    max-height:60vh ;
}
            
            
            
    
.third_mid {
    
    width: 100%;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.third_mid_head {
    
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items:center ;
    flex-direction: column;
}

.third_mid_head h2 {
   text-transform: uppercase;
   font-size: xx-large;
   font-weight: 900;
}
.third_mid_head h1 {
   text-transform: capitalize;
   font-size:3vw;
   font-weight: 900;
}

.third_mid_head hr {
   width: 20vw;
   color: black;

 }
.third_mid_sec {
   
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.third_card{
    min-width: 16vw;
    min-height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px black;
   
}

.third_card img{
    max-width: 12vw;
    max-height: 8vw;
    border-radius: 1vw;

}

.third_card h1{
    text-transform: capitalize;
    color: rgb(12, 99, 175);
    font-weight: 700;

}






.four_sec {
    background-color: rgb(7, 164, 195);
    width: 100%;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four_page {
    background-color: rgb(28, 123, 142);
    width:90%;
    min-height: 90vh;
    border-radius: 2vw;
}


            
            
            
                






























/* .mid {
    background-color:transparent;

}

.mid1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color:transparent;
}

.sec1{
    padding: 2px;
    background-color: transparent;
    height:13vw;
    border-radius: 12px;
    border: 2px solid black;
    overflow-x: auto;
    white-space:nowrap ;
    align-self: center;
}

.sec1::-webkit-scrollbar{
    display: none;
}
#story {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(135deg,rgb(232, 6, 194), red,blue,rgb(121, 2, 241)50%,transparent 50%) ;
    padding:5px ;
    background-size: 250%;
    background-position: 100% 100%;
    border: 2PX SOLID beige;
    transition: background 0.5s ;
}
#story:hover {
    background-position: 0% 0%;
    padding: 6px;
}
.sec1 img{
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        display: inline-block;

} 



#show {
    
    padding: 5px;
    display: flex;
    justify-content: center;
    /* background-image:  linear-gradient(45deg, #067ff8 ,red ,green,rgb(78, 217, 248),blue,pink,rgb(98, 5, 98));
     
     background-color:  rgba(0, 0, 0, 0.674);
/*      
}



#full-screen{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size:cover;
    position: fixed;
    display: none;
    z-index: 99;
}




#show-img  img {
    
    max-height: 95vh;
    max-width: 95vw;
}
.neonText  {
    color: #7e7d7dde;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
@keyframes flicker {
    0%, 19.999%, 22%, 100% {
        opacity: 1;
    }
    20%, 21.999% {
        opacity: 0;
    }
}

.neonText {
    animation: flicker 2.5s infinite alternate;
}  */
